.container{
    position: fixed;
    transform: translate(-100%);
    width: 100%;
    left: 0;
    top: 0;
    animation: dropDown 400ms ease forwards;
}

.inner_container{
    padding-bottom: 1rem;
    height: 100svh;
    background-color: white;
    overflow-y: auto;
}

.header{
    margin-top: 1rem;
    width: 90%;
    margin-inline:  auto;
    display: flex;
    justify-content: space-between;
    button{
        cursor: pointer;
        border: none;
        background: none;
    }
}

.body{
    width: 70%;
    margin: 0 auto;
    margin-top: 2rem;

    .image{
        display: flex;
        justify-content: center;
        img{
            width: 100%;
            max-height: 500px;
            object-fit: cover;

        }
    }

    p{
        margin-top: 2rem;
        font-size: 1.4rem;
        font-weight: 300;
        ul{
            font-style: italic;
            margin-left: 2rem;
            margin-top: 1rem;
            li{
                margin-top: 1rem;
            }
        }
    }
}


@keyframes dropDown{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}