.container{
    padding: 1rem;
    min-height: 100svh;
    background: url('/background-1398819_1280.jpg') rgba(0, 0, 0, .8);
    background-size: cover;
    background-blend-mode: multiply;
}



.wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
 
    .title{
        color: white;
        font-size: 3rem;
        margin-top: 1rem;
        
        @media (max-width:700px) {
            font-size: 2rem;
        }
    }

    
}

.section{
    border-left: solid 1px white;
    padding-left: 2rem;
    margin-top: 4rem;
    @media (max-width:700px) {
        border-left: none;
        padding-left: 0;
    }
    
    .title_section{
        width: fit-content;
        line-height: 2rem;
        font-size: 1.5rem;
        color: white;
        position: relative;

        
    }

   .body_section{
        color: white;
        font-weight: 200;
        line-height: 2.9rem;
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
        @media (max-width:700px) {
            flex-direction: column;
        }
    
        p{
            font-size: 1.9rem;
            max-width: 900px;
        }

        .image{
            width:40%;
            object-fit: cover;
            @media (max-width:700px) {
                width: 100%;
            }
        }
   }
    
}