
.container{
    background-color: rgba(0, 0, 0, .5);
    background-size: cover;
    background-image: url('/bg.jpg');
    background-position: center;
    background-blend-mode: multiply;
    
}

.hero_container{
    height: 100svh;
    padding:  1em;
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    color: white;
    @media (max-width:700px) {
      background-position: center;
    }

    .title{
        font-size: 4rem;
        text-transform: uppercase;
        /* text-shadow: 0px 0px 11px black; */
        @media (max-width:700px) {
          font-size: 2rem;
        }

        span{
          font-weight: 200;
          width: fit-content;
          font-style: italic;
          color: white;
          text-shadow: 0 0 11px black;
          text-transform: lowercase;
          background-image: linear-gradient(transparent 60%, rgba(255, 217, 0, 0.685) 40%);
          background-size: 100% 100%;
          background-repeat: no-repeat;
        }
    }
    
    .details{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        @media (max-width:700px) {
          gap: 2rem;
          align-items: flex-start;
          flex-direction: column;
        }
        ul{
            span{
                font-size: 1.5rem;
                display: block;
                color: rgb(253, 253, 253);
                font-weight: 700;
            }
            li{
                font-weight: 200;
                font-size: 1.2rem;
            }
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

    }


}


.plan_container{
    height: 90svh;
    /* background-image: url('background-1398819_1280.jpg'); */
    .plan{
      max-width: 700px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-top: 5rem;
      gap: 4rem;
      @media (max-width:700px) {
        width: 90%;
      }
  
      .btn{
        rotate :-2deg;
        
      }
      .btn:nth-child(2n){
          align-self: flex-end;
          rotate :2deg;
      }
      
  }
  
}


/* Buttons style */
.btn {
  
  background-color: rgb(217, 217, 217);
  border: 0 solid #E5E7EB;
  box-sizing: border-box;
  color: #000000;
  display: flex;
  font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 700;
  justify-content: center;
  line-height: 1.75rem;
  padding: .75rem 1.65rem;
  position: relative;
  text-align: center;
  text-decoration: none #000000 solid;
  text-decoration-thickness: auto;
  width: 100%;
  max-width: 460px;
  position: relative;
  cursor: pointer;
  transform: rotate(-2deg);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  outline: 0;
}

.btn:after {
  content: '';
  position: absolute;
  border: 1px solid #000000;
  bottom: 4px;
  left: 4px;
  width: calc(100% - 1px);
  height: calc(100% - 1px);
}

.btn:hover:after {
  bottom: 2px;
  left: 2px;
}

@media (min-width: 768px) {
  .btn {
    padding: .75rem 3rem;
    font-size: 1.25rem;
  }
}